#teoria Architetture degli Elaboratori
Primo Anno/Architettura degli Elaboratori/Teoria/*
!Primo Anno/Architettura degli Elaboratori/Teoria/Architetture_degli_Elaboratori.pdf

#teoria Metodologie di Programmazione
Primo Anno/Metodologie di Programmazione/Teoria/*
!Primo Anno/Metodologie di Programmazione/Teoria/Metodologie_di_Programmazione.pdf

.obsidian

Calcolo delle Probabilità
Algebra 

!Primo Anno/Algebra
!Primo Anno/Calcolo delle Probabilità