#teoria Architetture degli Elaboratori
Primo Anno/Architettura degli Elaboratori/Teoria/*
!Primo Anno/Architettura degli Elaboratori/Teoria/Architetture_degli_Elaboratori.pdf

#teoria Metodologie di Programmazione
Primo Anno/Metodologie di Programmazione/Teoria/*
!Primo Anno/Metodologie di Programmazione/Teoria/Metodologie_di_Programmazione.pdf

.obsidian
Calcolo delle Probabilità
Algebra
Programmazione WEB
Automi, Complessità e Calcolabilità
LatexDocumentation
Terzo Anno/Sicurezza Informatica/*
Terzo Anno/Linguaggi e Compilatori/*
Terzo Anno/Ingegneria del Software/*
Terzo Anno/TPFI/*
# Sistemi Operativi II
Secondo Anno/Sistemi Operativi II/*
!Secondo Anno/Sistemi Operativi II/Progetto (Appello 9 Giugno 2025)
!Secondo Anno/Sistemi Operativi II/Progetto (Appello 10 Luglio 2025)

.idea

!Terzo Anno/Programmazione WEB
!Terzo Anno/Automi, Complessità e Calcolabilità

!Terzo Anno/TPFI/Appunti-TPFI.pdf
!Terzo Anno/Sicurezza Informatica/Appunti-sicurezza.pdf
!Terzo Anno/Linguaggi e Compilatori/Appunti-linguaggi_e_compilatori.pdf
!Terzo Anno/Ingegneria del Software/Appunti - Ingegneria del Software.pdf